/* Basic reset and global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles */
header {
  background-color: #f8f9fa; /* Adjust as needed */
  padding: 10px 0;
  border-bottom: 1px solid #ddd; /* Optional border line */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  display: block;
  margin: -30%;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
}

.menu-toggle {
  display: none; /* Hide by default */
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
      display: none; /* Hide navigation links on small screens */
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 10px;
  }

  .nav-links.active {
      display: flex; /* Show navigation links when active */
  }

  .menu-toggle {
      display: block; /* 
      Show menu toggle button */
      margin-top: 10px;
      width: 0%;
  }
}

.carousel-item img {
    height: 660px; 
    object-fit: cover; 
}
#feature{
  color: #333;
}
